## CIS 3703 Python Programming - Spring 2021

In [1]:
# The following should be included in each Jupyter Notebook. We will discuss this later in the course.
# For now, just include these statements.

# For more information, see
# https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html

%load_ext autoreload
%autoreload 2

## The String Data Type

In [3]:
str1 = "Hello"
str2 = "class"
print(str1 + str2)

Helloclass

In [4]:
print(str1, ", ", str2)

Hello ,  class

In [5]:
type(str1)

str

In [9]:
firstName = input("Enter your name: ")
print("Hello, ", firstName)

Enter your name: Timothy
Hello,  Timothy

In [16]:
# Indexing allows us to access individual characters of a string
# "zero based indexing" - first item is index 0
firstName[0]

'T'

In [17]:
firstName[1]

'i'

In [18]:
firstName[4]

't'

In [19]:
x = 4
firstName[x - 2]

'm'

In [20]:
# Can index from the end of the string
firstName[-1]

'y'

In [21]:
firstName[-2]

'h'

In [24]:
# Slicing allows us to get substrings by specifying a start and "up to but not including"
firstName[0:1]

'T'

In [25]:
firstName[0:2]

'Ti'

In [27]:
firstName[2:]

'mothy'

In [29]:
# If I do not specify the first index, it assumes 0
firstName[:3]

'Tim'

In [31]:
# Concatenation (+) and repetition
"Tim" + "Darr"

'TimDarr'

In [33]:
3 * "Tim"

'TimTimTim'

In [34]:
# Length of a string
len(firstName)

7

In [36]:
firstName[4:len(firstName)]

'thy'

In [39]:
# Iteration
for ch in firstName:
    print(ch)

T
i
m
o
t
h
y

In [40]:
for ch in firstName:
    print(ch, end="")

Timothy

In [42]:
for ch in firstName:
    print(ch, end=" ")

T i m o t h y

## Simple String Processing

In [45]:
def generate_username():
    # Query user for first name
    first = input("First name (lowercase) ")
    # Query user for last name
    last = input("Last name (lowercase) ")
    
    # Extract first character of first name : first[0]
    # Extract the character of last name up to and not including 7th character
    # Concatenate together
    uname = first[0] + last[:7]
    print("Your user name is ", uname)
    return uname

uname = generate_username()

First name (lowercase) lillie
Last name (lowercase) nunamaker
Your user name is  lnunamak

In [47]:
# Input is the month number
# Want to return a 3character representation
def months(month_num):
    months = "JanFebMarAprMayJunJulAugSepOctNovDec"
    return months[month_num:month_num+3]
months(3)

'Feb'

In [49]:
# Input is the month number
# Want to return a 3character representation
def months(month_num):
    months = "JanFebMarAprMayJunJulAugSepOctNovDec"
    pos = (month_num - 1) * 3
    return months[pos:pos + 3]
months(7)

'Jul'

## Lists as Sequences

In [50]:
# Items in list separated by commas and enclosed in []
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [51]:
# Repetition
[1, 2]*3

[1, 2, 1, 2, 1, 2]

In [53]:
grades = ['A', 'B', 'C', 'D']
grades[0]

'A'

In [55]:
grades[2:4]

['C', 'D']

In [57]:
# Lists don't have to be the same type
myList = [1, "R", 3.0, "X"]
myList[1]

'R'

In [58]:
def lookup_month(num):
    months = "JanFebMarAprMayJunJulAugSepOctNovDec"
    months = ['JAN', "FEB", "MAR", "APR"]
    return months[num]
lookup_month(3)

'APR'

In [59]:
def lookup_month(num):
    months = ['JAN', "FEB", "MAR", "APR"]
    return months[num - 1]
lookup_month(3)

'MAR'

In [61]:
# Lists are mutable - the value of an item in the list can be modified with assignment
myList = [ 34, 26, 15, 10]
myList[2]

15

In [62]:
myList[2] = -1000
myList

[34, 26, -1000, 10]

In [64]:
# Strings are not mutable
str3 = "CIS 3703"
str3[4]

'3'

In [65]:
str3[4] = "2"

TypeError: 'str' object does not support item assignment

In [67]:
str3 = str3[0:4] + "2" + str3[5:]
str3

'CIS 2703'

## Encoder

In [ ]:
# Characters are encoded in the computer as a number ... a string is stored in the computer as a 
# sequence of binary numbers
# ASCII - 0 to 127 number codes (8 bits) - represent the english alphabet and some special characters
# Unicode  - larger, international standard - uses the same code for the common characters
#    UTF-8 is the standard that uses up to 4 bytes as a representation

# get the numeric code
ord("a")

In [ ]:
ord("A")

In [ ]:
# get the character from a integer
chr(100)

In [ ]:
# get the message to encode
# for each character in the message
#    print the code for the character

def encode_message(message):
    for ch in message:
        print(ord(ch), end=" ")
encode_message("Four score and seven years ago")

## Decoder

In [ ]:
# Use an accumulator to reconstruct the message

# get the sequence of numbers to decode as a string
# split the string into tokens
# message = ""
# for each number in the input
#    convert the number to the corresponding unicode character
#    add the character to the end of the message
# print message

In [ ]:
myString = "This is CIS 3703, spring 2021"
myString.split()

In [ ]:
# Change the token
myString.split(",")

In [ ]:
# split() returns strings
myNums = "23 45 67 19 89"
myNums.split()

In [ ]:
# Need to convert them to numbers
int(myNums.split()[0])

In [ ]:
type(int(myNums.split()[0]))

In [ ]:
def decode(code):
    message = ""
    for number in code.split():
        codeNum = int(number)
        message = message + chr(codeNum)
    print("The message is ", message)
    return message
decode("70 111 117 114 32 115 99 111 114 101 32 97 110 100 32 115 101 118 101 110 32 121 101 97 114 115 32 97 103 111")

In [ ]:
# Other string methods
s = "this is going to be a fun semester"
s.capitalize()

In [ ]:
s.title()

In [ ]:
s.upper()

In [ ]:
s.upper().lower()

In [ ]:
s.replace("fun", "GREAT")

In [ ]:
s.center(30)

In [ ]:
s.center(50)

In [ ]:
s.center(10)

In [ ]:
s.count('o')

In [ ]:
s.find("to")

In [ ]:
" ".join(["1", "2", "3"])

In [ ]:
"/".join(["1", "2", "3"])

## List Methods

In [ ]:
# Append adds an item to the end of a list
def append_to_list():
    squares = []
    for x in range(1, 101):
        squares.append(x*x)
    return squares
append_to_list()

In [ ]:
# Uses append
def decode_v2(code):
    # Accumluator is a list, not a string
    chars = []
    # message = ""
    for number in code.split():
        codeNum = int(number)
        ## This does a lot of copying - can be inefficient
        ## message = message + chr(codeNum)
        chars.append(chr(codeNum))
    # join() concatenates in one attempt
    message = "".join(chars)
    print("The message is ", message)
    return message
decode_v2("70 111 117 114 32 115 99 111 114 101 32 97 110 100 32 115 101 118 101 110 32 121 101 97 114 115 32 97 103 111")

## Encryption

## Date Conversion

In [ ]:
# Convert from MM/DD/YYYY format to character format
def convert_dates(input_date):
    # Split and assign using / as the token separator
    monthStr, dayStr, yearStr = input_date.split("/")
    
    months = ["January", "February", "March", "April", "May", "June"]
    
    monthStr = months[int(monthStr) - 1]
    
    output_date = monthStr + " " + dayStr + ", " + yearStr
    print("The converted string is ", output_date)
    
    return(output_date)

convert_dates("3/17/2001")
convert_dates("03/12/1996")

## String formatting

In [ ]:
# Template for printing meaningful strings
print("Format with one decimal {0:0.1f}".format(3))
print("Format with four decimals {0:0.4f}".format(3))
print("Format with one decimal {0:0.1f}".format(3.6668877))
print("Format with four decimals {0:0.4f}".format(3.6668877))
print("Currency format with two decimals ${0:0.2f}".format(3.6668877))

In [ ]:
# The index tells which parameter to use
print("Format 1 {1:0.1f}, {0:0.5f}".format(10.51576, 12.44))
print("Format 2 {0:0.1f}, {1:0.5f}".format(10.51576, 12.44))

In [ ]:
"Hello {0}, {1} you may have won ${2}".format("Mr.", "Smith", 5000)

In [ ]:
"This int, {0:5}, was placed in a field of width 5".format(7)

In [ ]:
"This float, {0:10.5}, has width 10 and precision 5".format(7.5023967)

In [ ]:
"Left justification: {0:<5}".format("Hi")

In [ ]:
"Right justification: {0:>5}".format("Hi")

In [ ]:
"Center justification: {0:^5}".format("Hi")

## File Processing

In [ ]:
# A text file is basically a multi-line string
print("Line1\nLine2\nLine3")

Steps for processing files
<ul>
    <li>Open the file
    <li>Access the contents (Read / Write)
    <li>Close the file
</ul>
<code>
&lt;variable&gt; = open(&lt;file-name&gt;, &lt;mode&gt;)
</code>

Mode is "r" (read) or "w" (write)

In [ ]:
infile = open("numbers.dat", "r")
allContents = infile.read()
print(allContents)

In [ ]:
infile.close()
infile = open("numbers.dat", "r")
oneLine = infile.readline()
print(oneLine)

In [ ]:
oneLine = infile.readline()
print(oneLine)
infile.close()

In [ ]:
infile = open("numbers.dat", "r")
oneLine = infile.readline()
print(oneLine)

In [ ]:
restLines = infile.readlines()
print(restLines)
infile.close()

In [ ]:
infile = open("numbers.dat", "r")
for line in infile.readlines():
    print("Read: ", line)
infile.close()

In [ ]:
infile = open("numbers.dat", "r")
for line in infile.readlines():
    # Strip off the new line
    print("Read: ", line[:-1])
infile.close()

In [ ]:
infile = open("numbers.dat", "r")
for line in infile.readlines():
    # Strip off the new line
    print("Read: ", line, end="")
infile.close()

In [ ]:
infile = open("numbers.dat", "r")
for line in infile:
    # Strip off the new line
    print("Read: ", line, end="")
infile.close()

In [ ]:
# When opening a file for writing, if the file does not exist, it will be created

In [ ]:
def batch_usernames(filename):
    infile = open(filename + ".in", "r")
    outfile = open(filename + ".out", "w")
    
    for line in infile:
        first, last = line.split()
        uname = (first[0] + last[:7]).lower()
        print("User name for {0} {1} : {2}".format(first, last, uname))
        # Write it to the file
        print(uname, file = outfile)
        
    infile.close()
    outfile.close()
batch_usernames("usernamedata")