## CIS 3703 Python Programming - Spring 2021

In [1]:
# The following should be included in each Jupyter Notebook. We will discuss this later in the course.
# For now, just include these statements.

# For more information, see
# https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html

%load_ext autoreload
%autoreload 2

## The String Data Type

In [4]:
str1 = "Hello"
str2 = "class"
print(str1 + str2)

Helloclass

In [5]:
print(str1, ", ", str2)

Hello ,  class

In [6]:
type(str1)

str

In [18]:
firstName = input("Enter you name: ")
print("Hello, ", firstName)

Enter you name: Timothy
Hello,  Timothy

In [19]:
# Indexing allows us to access individual characters of a string
firstName[0]

'T'

In [20]:
firstName[1]

'i'

In [21]:
firstName[4]

't'

In [22]:
x = 4
firstName[x - 2]

'm'

In [23]:
# Can index from the end of the string
firstName[-1]

'y'

In [24]:
firstName[-2]

'h'

In [25]:
# Slicing allows us to get substrings by specifying a start and "up to but not including"
firstName[0:1]

'T'

In [26]:
firstName[0:2]

'Ti'

In [27]:
firstName[2:]

'mothy'

In [28]:
firstName[:3]

'Tim'

In [29]:
# Concatenation (+) and repetition
"Tim" + "Darr"

'TimDarr'

In [30]:
3 * "Tim"

'TimTimTim'

In [31]:
# Length of a string
len(firstName)

7

In [32]:
# Iteration
for ch in firstName:
    print(ch)

T
i
m
o
t
h
y

In [33]:
for ch in firstName:
    print(ch, end="")

Timothy

In [34]:
for ch in firstName:
    print(ch, end=" ")

T i m o t h y

## Simple String Processing

In [35]:
def generate_username():
    first = input("First name (lowercase) ")
    last = input("Last name (lowercase) ")
    
    uname = first[0] + last[:7]
    print("Your user name is ", uname)
    return uname

uname = generate_username()

First name (lowercase) Frodo
Last name (lowercase) Baggins
Your user name is  FBaggins

In [40]:
# Input is the month number
# Want to return a 3character representation
def months(month_num):
    months = "JanFebMarAprMayJunJulAugSepOctNovDec"
    return months[month_num:month_num+3]
months(3)

'Feb'

In [41]:
# Input is the month number
# Want to return a 3character representation
def months(month_num):
    months = "JanFebMarAprMayJunJulAugSepOctNovDec"
    pos = (month_num - 1) * 3
    return months[pos:pos + 3]
months(3)

'Mar'

## Lists as Sequences

In [42]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [46]:
# Repetition
[1, 2]*3

[1, 2, 1, 2, 1, 2]

In [47]:
grades = ['A', 'B', 'C', 'D']
grades[0]

'A'

In [48]:
grades[2:4]

['C', 'D']

In [49]:
# Lists don't have to be the same type
myList = [1, "R", 3.0, "X"]

In [50]:
def lookup_month(num):
    months = ['JAN', "FEB", "MAR", "APR"]
    return months[num]
lookup_month(3)

'APR'

In [51]:
def lookup_month(num):
    months = ['JAN', "FEB", "MAR", "APR"]
    return months[num - 1]
lookup_month(3)

'MAR'

In [52]:
# Lists are mutable - the value of an item in the list can be modified with assignment
myList = [ 34, 26, 15, 10]
myList[2]

15

In [53]:
myList[2] = -1000
myList

[34, 26, -1000, 10]

In [64]:
# Strings are not mutable
str3 = "CIS 3703"
str3[4]

'3'

In [65]:
str3[4] = "2"

TypeError: 'str' object does not support item assignment

In [66]:
str3 = str3[0:4] + "2" + str3[5:]
str3

'CIS 2703'

## Encoder

In [67]:
# Characters are encoded in the computer as a number ... a string is stored in the computer as a 
# sequence of binary numbers
# ASCII - 0 to 127 number codes (8 bits) - represent the english alphabet and some special characters
# Unicode  - larger, international standard - uses the same code for the common characters
#    UTF-8 is the standard that uses up to 4 bytes as a representation

# get the numeric code
ord("a")

97

In [68]:
ord("A")

65

In [69]:
# get the character from a integer
chr(100)

'd'

In [71]:
# get the message to encode
# for each character in the message
#    print the code for the character

def encode_message(message):
    for ch in message:
        print(ord(ch), end=" ")
encode_message("Four score and seven years ago")

70 111 117 114 32 115 99 111 114 101 32 97 110 100 32 115 101 118 101 110 32 121 101 97 114 115 32 97 103 111

## Decoder

In [ ]:
# Use an accumulator to reconstruct the message

# get the sequence of numbers to decode as a string
# split the string into tokens
# message = ""
# for each number in the input
#    convert the number to the corresponding unicode character
#    add the character to the end of the message
# print message

In [72]:
myString = "This is CIS 3703, spring 2021"
myString.split()

['This', 'is', 'CIS', '3703,', 'spring', '2021']

In [73]:
# Change the token
myString.split(",")

['This is CIS 3703', ' spring 2021']

In [74]:
# split() returns strings
myNums = "23 45 67 19 89"
myNums.split()

['23', '45', '67', '19', '89']

In [77]:
# Need to convert them to numbers
int(myNums.split()[0])

23

In [78]:
type(int(myNums.split()[0]))

int

In [79]:
def decode(code):
    message = ""
    for number in code.split():
        codeNum = int(number)
        message = message + chr(codeNum)
    print("The message is ", message)
    return message
decode("70 111 117 114 32 115 99 111 114 101 32 97 110 100 32 115 101 118 101 110 32 121 101 97 114 115 32 97 103 111")

The message is  Four score and seven years ago

'Four score and seven years ago'

In [80]:
# Other string methods
s = "this is going to be a fun semester"
s.capitalize()

'This is going to be a fun semester'

In [81]:
s.title()

'This Is Going To Be A Fun Semester'

In [82]:
s.upper()

'THIS IS GOING TO BE A FUN SEMESTER'

In [85]:
s.upper().lower()

'this is going to be a fun semester'

In [86]:
s.replace("fun", "GREAT")

'this is going to be a GREAT semester'

In [88]:
s.center(30)

'this is going to be a fun semester'

In [89]:
s.center(50)

'        this is going to be a fun semester        '

In [90]:
s.center(10)

'this is going to be a fun semester'

In [91]:
s.count('o')

2

In [92]:
s.find("to")

14

In [93]:
" ".join(["1", "2", "3"])

'1 2 3'

In [94]:
"/".join(["1", "2", "3"])

'1/2/3'

## List Methods

In [96]:
# Append adds an item to the end of a list
def append_to_list():
    squares = []
    for x in range(1, 101):
        squares.append(x*x)
    return squares
append_to_list()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [98]:
# Uses append
def decode_v2(code):
    # Accumluator is a list, not a string
    chars = []
    # message = ""
    for number in code.split():
        codeNum = int(number)
        ## This does a lot of copying - can be inefficient
        ## message = message + chr(codeNum)
        chars.append(chr(codeNum))
    # join() concatenates in one attempt
    message = "".join(chars)
    print("The message is ", message)
    return message
decode_v2("70 111 117 114 32 115 99 111 114 101 32 97 110 100 32 115 101 118 101 110 32 121 101 97 114 115 32 97 103 111")

The message is  Four score and seven years ago

'Four score and seven years ago'

## Encryption

## Date Conversion

In [101]:
# Convert from MM/DD/YYYY format to character format
def convert_dates(input_date):
    # Split and assign using / as the token separator
    monthStr, dayStr, yearStr = input_date.split("/")
    
    months = ["January", "February", "March", "April", "May", "June"]
    
    monthStr = months[int(monthStr) - 1]
    
    output_date = monthStr + " " + dayStr + ", " + yearStr
    print("The converted string is ", output_date)
    
    return(output_date)

convert_dates("3/17/2001")
convert_dates("03/12/1996")

The converted string is  March 17, 2001
The converted string is  March 12, 1996

'March 12, 1996'

## String formatting

In [107]:
# Template for printing meaningful strings
print("Format with one decimal {0:0.1f}".format(3))
print("Format with four decimals {0:0.4f}".format(3))
print("Format with one decimal {0:0.1f}".format(3.6668877))
print("Format with four decimals {0:0.4f}".format(3.6668877))
print("Currency format with two decimals ${0:0.2f}".format(3.6668877))

Format with one decimal 3.0
Format with four decimals 3.0000
Format with one decimal 3.7
Format with four decimals 3.6669
Currency format with two decimals $3.67

In [109]:
# The index tells which parameter to use
print("Format 1 {1:0.1f}, {0:0.5f}".format(10.51576, 12.44))
print("Format 2 {0:0.1f}, {1:0.5f}".format(10.51576, 12.44))

Format 1 12.4, 10.51576
Format 2 10.5, 12.44000

In [110]:
"Hello {0}, {1} you may have won ${2}".format("Mr.", "Smith", 5000)

'Hello Mr., Smith you may have won $5000'

In [112]:
"This int, {0:5}, was placed in a field of width 5".format(7)

'This int,     7, was placed in a field of width 5'

In [113]:
"This float, {0:10.5}, has width 10 and precision 5".format(7.5023967)

'This float,     7.5024, has width 10 and precision 5'

In [114]:
"Left justification: {0:<5}".format("Hi")

'Left justification: Hi   '

In [115]:
"Right justification: {0:>5}".format("Hi")

'Right justification:    Hi'

In [116]:
"Center justification: {0:^5}".format("Hi")

'Center justification:  Hi  '

## File Processing

In [117]:
# A text file is basically a multi-line string
print("Line1\nLine2\nLine3")

Line1
Line2
Line3

Steps for processing files
<ul>
    <li>Open the file
    <li>Access the contents (Read / Write)
    <li>Close the file
</ul>
<code>
&lt;variable&gt; = open(&lt;file-name&gt;, &lt;mode&gt;)
</code>

Mode is "r" (read) or "w" (write)

In [118]:
infile = open("numbers.dat", "r")
allContents = infile.read()
print(allContents)

12
34.6
138.831

In [120]:
infile.close()
infile = open("numbers.dat", "r")
oneLine = infile.readline()
print(oneLine)

12

In [121]:
oneLine = infile.readline()
print(oneLine)
infile.close()

34.6

In [127]:
infile = open("numbers.dat", "r")
oneLine = infile.readline()
print(oneLine)

12

In [128]:
restLines = infile.readlines()
print(restLines)
infile.close()

['34.6\n', '138.831']

In [130]:
infile = open("numbers.dat", "r")
for line in infile.readlines():
    print("Read: ", line)
infile.close()

Read:  12

Read:  34.6

Read:  138.831

In [131]:
infile = open("numbers.dat", "r")
for line in infile.readlines():
    # Strip off the new line
    print("Read: ", line[:-1])
infile.close()

Read:  12
Read:  34.6
Read:  138.83

In [132]:
infile = open("numbers.dat", "r")
for line in infile.readlines():
    # Strip off the new line
    print("Read: ", line, end="")
infile.close()

Read:  12
Read:  34.6
Read:  138.831

In [133]:
infile = open("numbers.dat", "r")
for line in infile:
    # Strip off the new line
    print("Read: ", line, end="")
infile.close()

Read:  12
Read:  34.6
Read:  138.831

In [135]:
# When opening a file for writing, if the file does not exist, it will be created

In [138]:
def batch_usernames(filename):
    infile = open(filename + ".in", "r")
    outfile = open(filename + ".out", "w")
    
    for line in infile:
        first, last = line.split()
        uname = (first[0] + last[:7]).lower()
        print("User name for {0} {1} : {2}".format(first, last, uname))
        # Write it to the file
        print(uname, file = outfile)
        
    infile.close()
    outfile.close()
batch_usernames("usernamedata")

User name for Steve Rogers : srogers
User name for Tony Stark : tstark
User name for Clint Barton : cbarton
User name for Ant Man : aman